#######           MANDATORY CONFIGURATIONS                   #######
####################################################################
export ALOG_HOME=~/code/alog
export PATH=${PATH}:${ALOG_HOME}/bin
export ALOG_SHMKEY=1234
####################################################################

#######           OPTIONAL CONFIGURATIONS                    #######
####################################################################
# block size that is malloced in one node
# unit is KB
# default 16KB
# valid scale : ( 0 , 64 ]
#export ALOG_SINGLEBLOCKSIZE=16
####################################################################
# memmory that is allowed to use in total
# unit is MB
# default 16MB
# valid scale : ( 0 , 1024 ]
#export ALOG_MAXMEMORYSIZE=16
####################################################################
# timeout interval for backgroud persist thread
# unit is second
# default 1 second
# valid scale : [ 1 , 5 ]
#export ALOG_FLUSHINTERVAL=1
####################################################################
# interval time for backgroud udpate thread
# unit is microsecond
# default 500 ms
# valid scale : [ 250 , 2000 ]
#export ALOG_CHECKINTERVAL=500
####################################################################
